### Java template
*.class
.clover/
target/

.idea
*.iml

.patch
.surefire-*
*.ipr
*.iws
.DS_Store
reports/
.directory
atlassian-ide-plugin.xml
diagnostics*.log
.attach_pid*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# mvn version plugin
**/pom.xml.versionsBackup

# intellij idea maven libs meta info
.idea/libraries/

#binary target folders
gateway/target/
data-source-batching/target/
entity/target/
services/target/
control/target/
database-backup/target/
gateway-async/target/
exporter/target/
microservice/target/
storage/target/
auth/target/
exporter-excel/target/
auth-microservice/target/

# User-specific stuff:
# How to manage projects under Version Control Systems
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries